.card {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    transition: transform 0.3s; 
}

.card:hover {
    transform: scale(1.05); 
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem;
}

.card-tag {
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: #664545; 
    color: #fff;
    padding: 5px 10px;
    font-size: 0.75rem;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.card-length {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #455366; 
    color: #fff;
    padding: 5px 10px;
    font-size: 0.75rem;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.card-person {
    position: absolute;
    top: 95px;
    left: 10px;
    background-color: #665c45; 
    color: #fff;
    padding: 5px 10px;
    font-size: 0.75rem;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin-bottom: 0.5rem;
}

.card-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #b16a55;
}

.btn-primary {
    background-color: #b16a55;
    border-color: #ce881e;
}

